small {
	text-align: center;
}

img {
	height: 112px;
	width: 112px;
}
button {
	margin: 3px 0px 0px 0px;
	text-align: center;
}

.round {
	border-radius: 3rem;
}

.smallPizza {
		border-radius: 50%;
    width: 75px;
    height: 75px;
    background: #ffd867;
    border: 10px solid #ffa600;
    margin: 5px;
}
.mediumPizza {
    border-radius: 50%;
    width: 115px;
    height: 115px;
    background: #ffd867;
    border: 10px solid #ffa600;
    margin: 5px;
}
.largePizza {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background: #ffd867;
    border: 10px solid #ffa600;
    margin: 5px;
}